
{% extends 'MDBWorkorderBundle::layout.html.twig' %}

{% block headline %}
    {{ workorder.title }}
{% endblock %}
{% block content %}
<div class="span12">
    {{ workorder.title }}
</div>
{% endblock %}
